<h2>Price Managerより、<%= @user.name %>様が登録されている商品の価格のお知らせです。</h2>

<% @products.each do |product| %>
  <div class="product-digest">
    <%= link_to product_url(product) do %>
      <h4><%= product.name %></h4>
    <% end %>
    <p>現在価格：<%= product.display_price %></p>
    <%= display_price_drop(product) %>
    <%= link_to "商品ページにアクセスする(#{product.site_type})", product.product_url %>
  </div>
<% end %>
