<%= provide(:title, @user.name) %>

<div class="row page_title">
  <div class="col-md-4">
    <h2>登録した商品一覧</h2>
  </div>
  <div class="col-md-8">
    <div id="update_all_products">
      <%= link_to "すべての商品価格を更新する", update_all_products_path, method: :post, class: "btn btn-success" %>
      <span>※この処理には数十秒〜数分かかる場合があります。</span>
    </div>
  </div>
</div>
<div class="row container-white">
  <div class="col-md-4">
    <section id="user_info">
      <h2><%= @user.name %></h2>
      <div id="products_count">
        <h4>登録している商品数：<%= @user.products.count %>件</h3>
      </div>
      <div id="link_to_edit_page">
        <%= link_to "ユーザー情報を編集する", edit_user_registration_path(@user) %>
      </div>
    </section>
  </div>
  <div class="col-md-8">
    <%= render @products %>
    <%= will_paginate @products %>
  </div>
</div>
