<%= provide(:title, @user.name) %>

<div class="row">
  <div class="col-md-4">
    <div id="user_info">
      <h2><%= @user.name %></h2>
      <div id="products_count">
        <h3>登録している商品数：<%= @user.products.count %>件</h3>
      </div>
      <%= link_to "ユーザー情報を編集する", edit_user_registration_path(@user) %>
    </div>
  </div>
  <div class="col-md-8">
    <h2>登録した商品一覧</h2>
    <%= link_to "すべての商品価格を更新する", update_all_products_path, method: :post, class: "btn btn-success" %>
    <%= render @products %>
    <%= will_paginate @products %>
  </div>
</div>
