<div class="container-white">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="top-wrapper">
        <div id="site_logo_area">
          <%= image_tag "site_logo.png", alt: "Price Manager" %>
        </div>
        <%= link_to help_path, id: "link_to_help_page" do %>
          <h4>※初めての方はこちらから使い方をお読みください</h3>
        <% end %>
        <div id="product_url_form">
          <%= form_tag(home_crawl_path, method: :get, remote: true) do %>
            <div class="url-form">
              <p>商品ページのURLを入力</p>
              <%= text_field_tag(:product_url, nil, placeholder: "URLを入力") %>
            </div>
            <div class="site-list">
              <p>商品サイトを選択</p>
              <%= select :site, :name, [["Amazon(本除く)", :amazon], ["Amazon本(Kindle本除く)", :amazon_book], ["Wiggle", :wiggle], ["Bellati Sport", :bellati]], prompt: "サイトを選択" %>
            </div>
            <input type="submit" value="商品情報を取得する" class="btn btn-success" data-behavior=crawl_btn>
          <% end %>
        </div>

        <div id="crawl_result">
        </div>
      </div>
    </div>
  </div>
</div>
